.vscode
acceso_aleatorio
acceso_aleatorio.exe
archivos
archivos.exe
archivos2
archivos2.exe
cin_cin-get
cin_cin-get.exe
cin-getline
cin-getline.exe
contactos.dat
cout_setw
cout_setw.exe
cout_setw2
cout_setw2.exe
cout_width
cout_width.exe
dex_oct_hex_setabse
dex_oct_hex_setabse.exe
dex_oct_hex_setabse2
dex_oct_hex_setabse2.exe
eof_get_y_put
eof_get_y_put.exe
read_write
read_write.exe
scientific_fixed
scientific_fixed.exe